// FONT
$font_family              : "novel-sans-pro", sans-serif;
$font_weight              : 400;
$line_height              : 27px;

// SCREEN SIZE — SS
$ss_laptop                : 1339px;
$ss_tablet                : 1119px;
$ss_sm_tablet             : 890px;
$ss_phone                 : 690px;
$ss_m_tablet              : 490px;
$ss_title_tablet          : 390px;


// COLORS
$color_text               : #777777;
$color_primary            : #E04A4A;